<!-- //= partials/footer.html -->

<section class="pt-5 pb-5 bg-brand">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2 class="text-uppercase mb-4 text-white">YOU THINK WE'RE COOL? LET'S WORK TOGETHER</h2>
				<a href="#" class="btn btn-outline-brand text-uppercase btn-lg">get in touch</a>
			</div>
			<div class="col-lg-6 mt-4 mt-lg-0">
				<form class="form p-4 bg-white">
					<h3>STAY INFORMED WITH OUR NEWSLETTER</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="input-group mt-4">
						  <input type="text" class="form-control form-control-lg" placeholder="E-MAIL" aria-label="Recipient's username" aria-describedby="button-addon2">
						  <div class="input-group-append">
						  <button class="btn btn-brand btn-lg text-uppercase" type="button" id="button-addon">Send</button>
					  </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<footer class="pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<ul class="list-with-dots list-unstyled list-inline text-uppercase text-center tex-lg-left">
					<li class="list-inline-item"><a href="#">Home</a></li>
					<li class="list-inline-item"><a href="#">about us</a></li>
					<li class="list-inline-item"><a href="#">services</a></li>
					<li class="list-inline-item"><a href="#">portfolio</a></li>
					<li class="list-inline-item"><a href="#">blog</a></li>
					<li class="list-inline-item"><a href="#">contact us</a></li>
				</ul>
			</div>
			<div class="col-lg-4 text-center text-lg-right">
				<div class="text-uppercase">
					Created by <a href="">akhouad</a> 2016. All Rights Reserved
				</div>
				<ul class="list-unstyled list-inline h3 mt-3">
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-social-facebook"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-social-twitter"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-social-youtube"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-social-instagram"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-social-pinterest"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#">
							<i class="icon ion-social-linkedin"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<script src="js/main.min.js"></script>