@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

@import 'bootstrap/bootstrap';
@import 'mixins';
// @import 'slick';

@import "ionicons/ionicons-variables";
@import "ionicons/ionicons-font";
@import "ionicons/ionicons-icons";
@import "ionicons/ionicons-animation";


* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 14px;
}

body {
	line-height: 2;
	// color: #333;
	min-height: 100%;
}

.heading {
	&__title {
		position: relative;
		display: inline-block;
		z-index: 1;
		&:before {
			content: "";
			display: inline-block;
			width: 78px;
			height: 20px;
			background-color: $brand;
			position: absolute;
			top: 50%;
			left: 0;
			z-index: -1;
		}
	}
}

.filter {
	margin: 10px 0;
	&__link {
		color: inherit;
		padding: 5px 20px;
		display: inline-block;
		@include hover {
			background-color: $brand;
			color: $white;
		}
	}
}

.list-with-dots {
	li {
		&:not(:last-of-type):after {
			content: '\25CF';
			display: inline-block;
			margin: 0 5px 0 12px;
			line-height: 1;
			vertical-align: middle;
			font-size: .5em;
		}
		a {
			vertical-align: middle;
		}
	}
}

.cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&__title {
		border: 10px solid $headings-color;
		text-transform: uppercase;
		padding: .5em;
		position: relative;
		margin-bottom: 1em;
		span {
			position: absolute;
			top: -10px;
			left: 50%;
			transform: translate(-50%, -100%);
			font-size: 1.4rem;
			background-color: $brand;
			color: $white;
			padding: .25em;
		}
	}
}